@import '../../themes.css';

.header {
    width: 100%;
    padding: 0 15px;

    box-sizing: border-box;
}
.header__container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__page-title {
    font-size: 23px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;

    color: var(--color-active-text);
}