@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url('./fonts/NotoSansDisplay.ttf');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  src: url('./fonts/NotoSansDisplay-Italic.ttf');
}

:root {
  --default-font-family: 'Noto Sans', sans-serif;

  --border-radius: 12px;
  --transition-delay: 0.25s;
}

:root[data-theme='light'] {
  --color-main: #ffffff;
  --color-primary: #1572fe;
  --color-secondary: #ecf3fe;

  --color-gray: #f3f3f3;
  --color-lightgray: #e5e5e5;
  --color-darkgray: #76787a;
  --color-moredarkgray: #47484a;
  --color-moremoredarkgray: #1a1b1d;

  --color-bg-main: #ffffff;
  --color-bg-1: #E8B3DA;
  --color-bg-2: #D4AFFF;
  --color-bg-3: #88DDFF;
  
}

:root[data-theme='dark'] {
  --color-main: #ffffff;
  --color-primary: #1572fe;
  --color-secondary: #ecf3fe;

  --color-gray: #f3f3f3;
  --color-lightgray: #f3edf4;
  --color-darkgray: #76787a;
  --color-moredarkgray: #47484a;
  --color-moremoredarkgray: #1a1b1d;
  
  --color-bg-main: #ffffff;
  --color-bg-1: #E8B3DA;
  --color-bg-2: #D4AFFF;
  --color-bg-3: #88DDFF;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: var(--default-font-family);
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.animate-background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-bg-main);

  z-index: 1;
}

.animate-background div {
  position: absolute;

  opacity: 0.25;
  border-radius: 50%;

  animation: bg-div-anim 3s infinite;
}

.animate-background div:nth-child(1) {
  top: 15%;
  left: 10%;

  width: max(25vh, 25vw);
  height: max(25vh, 25vw);

  background-color: var(--color-bg-1);
  filter: blur(75px);

  animation-delay: 1s;
}

.animate-background div:nth-child(2) {
  top: 5%;
  right: 10%;

  width: max(35vh, 35vw);
  height: max(35vh, 35vw);

  background-color: var(--color-bg-2);
  filter: blur(85px);

  animation-delay: 3s;
}

.animate-background div:nth-child(3) {
  bottom: 10%;
  left: 35%;

  width: max(30vh, 30vw);
  height: max(30vh, 30vw);

  background-color: var(--color-bg-3);
  filter: blur(80px);
  
  animation-delay: 5s;
}

@keyframes bg-div-anim {
  0% {
    opacity: 0.25;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(2.5);
  }
  100% {
    opacity: 0.25;
    transform: scale(1);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center-x {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.logo-login {
  position: absolute;
  top: 70px;
}

.logo-login__container {
  position: relative;
  text-align: center;
  user-select: none;
}

.logo-login h1 {
  font-size: 29px;
}
.logo-login__img {
  position: absolute;
  top: -15px;
  right: -50px;

  width: 45px;
  height: auto;

  transform: rotate(15deg);
}

.login-title {
  opacity: 0.9;
  font-size: 27px;
  color: var(--color-moremoredarkgray);
  margin: 20px 0 30px 0;
}
.login-container {
  box-sizing: border-box;
  padding: 0 15px 20px;
}

.line {
  height: 1px;
  background-color: var(--color-lightgray);
  margin-bottom: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 0 30px;

  font-size: 14px;
  color: var(--color-main);

  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px -25px var(--color-primary);
  overflow: hidden;
  outline: none;

  transform: scale(1);
  transition: var(--transition-delay);
  z-index: 0;
  user-select: none;
}
.button-pulse {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.75;
  border-radius: 50%;
  animation: pulse 0.85s ease-out;
  transform: scale(0);
  position: absolute;
  z-index: 1;
}
@keyframes pulse {
  to {
   transform: scale(2);
   background-color: #fff;
   opacity: 0;
  }
 }

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition-delay);
}

.button:active {
  transform: scale(0.98);
  transition: var(--transition-delay);
}

.input__input-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.input__input {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 0 15px;

  font-size: 14px;
  color: var(--color-moredarkgray);

  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px -25px var(--color-primary);
  outline: none;

  transform: scale(1);
  transition: var(--transition-delay);
}
.input__input:hover {
  background-color: var(--color-lightgray);

  transition: var(--transition-delay);
}
.input__input:not(:focus):not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid var(--color-moredarkgray);
  box-shadow: 0px 0px 0px -25px var(--color-primary);

  transition: var(--transition-delay);
}
.input__input:focus {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 40px -20px var(--color-primary);

  transition: var(--transition-delay);
}
.input__label {
  position: absolute;
  top: 12px;
  left: 15px;

  font-size: 13px;
  font-family: var(--default-font-family);
  color: var(--color-darkgray);

  transform: translateY(0);
  transition: var(--transition-delay);
  pointer-events: none;
}
.input__input:focus ~ .input__label,
.input__input:not(:placeholder-shown) ~ .input__label {
  font-size: 11px;
  color: var(--color-moremoredarkgray);
  background-color: var(--color-main);
  padding: 0 5px;

  transform: translateY(-20px);

  transition: var(--transition-delay);
}

.window-block {
  box-sizing: border-box;
  padding: 15px;
  backdrop-filter: blur(3px);
  background-color: var(--color-main);
  box-shadow: 2px 3px 35px -30px var(--color-darkgray);

  border-radius: 35px;

  z-index: 2;

}

.show-container {
  animation: show 0.5s 1 forwards ease-out;
}

@keyframes show {
  from {
    opacity: 0.75;
    transform: translateY(15px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.alert {
  position: absolute;
  top: 25px;
  left: 50%;

  display: flex;
  align-items: center;

  width: auto;
  height: auto;

  font-size: 14px;

  padding: 15px;
  background-color: rgba(255, 250, 250, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: 2px 3px 25px -15px var(--color-darkgray);
  transform: translateX(-50%);

  z-index: 5;
  
}

.alert.show {
  animation: showAlert 0.15s 1 forwards;
}

.alert.hide {
  animation: hideAlert  0.15s 1 forwards;
}

.alert img {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

@keyframes showAlert {
  from {
    transform: translateX(-50%) translateY(-50px) scale(0.75);
    opacity: 0;
  }
  to {
    
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes hideAlert {
  from {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(-50px) scale(0.75);
    opacity: 0;
  }
}