@import '../../themes.css';

.login-container {
    width: 300px;
    padding: 35px 30px;
    backdrop-filter: blur(3px);
    background-color: var(--color-block);
    box-shadow: 2px 5px 35px -25px var(--color-shadow);
  
    border-radius: 35px;
  
    z-index: 2;
}
.login-page-wrapper {
    justify-content: center;
}

.login-title {
    text-align: center;
    color: var(--color-active-text);
}

.login-page__switch-theme-button {
    position: absolute;

    top: 35px;
    right: 50px;
}

.login-logo {
    display: flex;
    width: 100%;
    transform: scale(1.1);

    justify-content: center;
}